@import "tailwindcss";

:root {
  --foreground-rgb: 15, 23, 42; /* slate-900 */
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom right, #ffffff, #eff6ff, #f8fafc); /* white -> blue-50 -> slate-50 */
  background-attachment: fixed; /* Ensures gradient stays beautiful during scroll */
  min-height: 100vh;
  .scrollbar-thin::-webkit-scrollbar {
    width: 4px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 20px;
  }
}

@layer base {
  .text-balance {
    text-wrap: balance;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled),
  input[type="button"]:not(:disabled),
  input[type="submit"]:not(:disabled),
  input[type="reset"]:not(:disabled) {
    cursor: pointer;
  }
}